<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Please log in</title>
    </head>
    <body>
    <div class="container">
        <form class="form-signin" method="post" action="/login">
            <h2 class="form-signin-heading">Welcome to My Book List</h2>
            <h3>Please log in</h3>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control input" placeholder="Username" required="" autofocus="">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control input" placeholder="Password" required="">
            <a style="color: var(--lightgreen); float: left" href="">Make a new account</a>
            <button class="btn btn-lg btn-primary submit" type="submit">Sign in</button>
        </form>
    </div>
    </body>
</html>
