<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
  <div class="container">
    <form id="register-form" class="form-signin">
      <h2 class="form-signin-heading">Register new account</h2>
      <input type="text" id="first-name" class="form-control input" placeholder="First Name" required="" autofocus="">
      <input type="text" id="last-name" class="form-control input" placeholder="Last Name" required="" autofocus="">
      <input type="email" id="email" class="form-control input" placeholder="Email" required="" autofocus="">
      <input type="password" id="password" name="password" class="form-control input" placeholder="Password" required="">
      <button class="btn btn-lg btn-primary submit" type="submit">Create Account</button>
    </form>
  </div>
  <script type="text/javascript" src="js/registration.js"></script>
</body>
</html>
